#outputs
/outputs/dim_vec_2_n_code_25
!/outputs/.gitkeep

#program
/program/LDA/src/*.so
/program/LDA/src/*.o
/program/LDA/src/*.mod

/program/sandnox/*.so
/program/sandnox/*.o
/program/sandnox/*.mod


#raw_data
raw_datas/raw_data/*
!/raw_datas/raw_data/topography
raw_datas/tmp/*
!/raw_datas/tmp/.gitkeep

