#outputs
/outputs/*
/program/LDA/outputs/*
!/outputs/LDA/outputs/.gitkeep

/program/path_planning/outputs/*

/program/sandbox/outputs/*

#program
/program/LDA/src/*.so
/program/LDA/src/*.o
/program/LDA/src/*.mod

/program/sandnox/*.so
/program/sandnox/*.o
/program/sandnox/*.mod


#raw_data
raw_datas/raw_data/*
!/raw_datas/raw_data/topography
raw_datas/tmp/*
!/raw_datas/tmp/.gitkeep
raw_datas/内航船-要素/*
raw_datas/【秘密情報】航海記録
raw_datas/海岸線データ
